body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #1B1B1B;
  overflow: hidden;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

div {
  padding: 0px;
  margin: 0px;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  background-color: #252525;
  color: #9593D9;
  resize: none;
  flex: 1;
  border-radius: 3px;
  border-style: none;
  padding: 10px;
  outline: none; /* Remove the focus outline */
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  background-color: #252525;
  color: #9593D9;
  border-radius: 3px;
  border-style: none;
  padding: 3px;
  outline: none; /* Remove the focus outline */
  min-width: 0;
}

input.error {
  box-shadow: inset 0px 0px 5px #ff2b2b;
}

button {
  background-color: #414141;
  border-style: none;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

button:hover {
  background-color: #252525
}

button.disable {
  background-color: transparent;
  color: rgb(100, 100, 100);
}

button.disable:hover{
  pointer-events: none;
}

select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  background-color: #252525;
  color: #9593D9;
  border-radius: 3px;
  border-style: none;
  padding: 3px;
  outline: none; /* Remove the focus outline */
  min-width: 0;
}

.base-grid {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.frame-grid {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-gap: 0px;
  -webkit-app-region: drag;
  background-color: #2B2B2B;
}

.frame-grid button {
  -webkit-app-region: no-drag;
  font-size: 12px;
  padding: 10px;
}

.container {
  background-color: #313131;
  border-radius: 3px;
  text-align: center;
  padding: 5px 10px;
  display: grid;
  grid-gap: 5px;
}

.list-container {
  display: grid;
  grid-gap: 5px;
  align-content: start;
  overflow: auto;
  border-radius: 3px;
}

p {
  padding: 0;
  margin: 0;
  color: #9593D9;
  text-align: left;
  word-wrap: break-word; /* Enable text wrapping */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.centered-container {
  background: #313131;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: grid;
  height: 70%;
  width: 75%;
  grid-gap: 5px;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0px;
  margin: 0px;
  color: #F1F1F1;
}

.slim-button {
  background-color: transparent;
  color: #7C90DB;
  border-style: none;
  padding: 5px;
}

.slim-button:hover{
  color: #889ADE;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--scrollbar-color);
  -webkit-box-shadow: inset 0 0 6px #9593D9;
  cursor:pointer;
}

.app-content-grid {
  display: grid;
  background-color: #1B1B1B;
  grid-template-rows: auto 1fr 2fr;
  grid-gap: 5px;
  margin: 10px;
  overflow: hidden;
}

.top-bar-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
}

.time-details-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.time-details-div h5:nth-child(odd) {
  text-align: left;
}

.time-details-div h5:nth-child(even) {
  text-align: right;
}

.middle-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  overflow: hidden;
}

.bottom-right-graphs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}

.inputs-div {
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  grid-gap: 5px;
}

.inputs-div h6 {
  align-self: center;
}

.project-item-div {
  padding: 3px 10px;
  font-size: 13px;
  background-color: #414141;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-item-div:hover {
  background-color: #252525
}

.project-item-div p,
.project-item-div h5 {
  text-align: left;
}

.project-item-div p:nth-child(even),
.project-item-div h5:nth-child(even) {
  text-align: right;
}

.progress-bar-container {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease;
  width: 50%;
}

.progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 13px;
}

.topic-item-div {
  padding: 10px;
  font-size: 13px;
  background-color: #414141;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topic-item-div:hover {
  background-color: #252525
}

.topic-item-div h3 {
  text-align: left;
  color: #9593D9;
}

.topic-item-div h3:nth-child(even) {
  text-align: right;
  color: white;
  font-weight: 400;
}
